.highlight {
  opacity: 1;
  outline: 0.5vh solid rgb(21, 119, 247);
  box-shadow: 0 5px 5px rgba(0,0,0,0.15);
  transition: ease 0.5s;
  transform: perspective(200px) translateZ(20px);
}

.highlight_neighbour {
  opacity: 1;
  outline: 0.5vh solid rgb(148, 189, 243);
  box-shadow: 0 5px 5px rgba(0,0,0,0.15);
  transition: ease 0.5s;
  transform: perspective(200px) translateZ(20px);
}

.hide_on {
  opacity: 0.1;
  transition: ease 0.5s;
}

.hide_off {
  opacity: 1;
  transition: ease 0.5s;
}

.highlight_uploaded {
  opacity: 1;
  outline: 0.5vh solid rgb(241, 23, 114);
}
