#settingsTitle {
  color: #198754;
  padding-left: 0.8rem;
  font-size: 1.8rem;
}

#settingsHeader {
  background-color: #cfe6db;
}

#settingsBody {
  background-color: #fafafa;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: baseline;
  height: 100%;
}

#settingsBody #rangeNeighbour{
  width: 130%;
}

#settingsBody #rangeCluster{
  width: 150%;
}

#settingsBody #neighbourDiv {
  display: inline-block;
  margin-left: 35px;
}
#settingsBody #clusterDiv {
  display: inline-block;
  margin-left: 35px;
}
#settingsBody p {
  margin-top: 0.5rem;
  margin-right: 2vw;
}
#settingsBody button {
  margin-top: 1rem;
  margin-left: 35px;
  margin-bottom: 1rem;
}

#settingsBody #attention{
  padding-left: 10px;
}


#settingAlert {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-left: 0;
  padding-left: 0;
}
#settingAlert p {
  font-family: inherit;
  text-align: center;
  font-size: 1.1rem;
  display: table-cell;
  vertical-align: middle;
  color: #e7b537;
  padding-right: 0.5rem;
  margin-right: 15px;
}
