#image-container {
  width: 480px !important;
  height: 150px !important;
  overflow-y: scroll;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

#image-container>div{
  margin: 2%;
}


 