#image-container {
    width: 480px !important;
    height: 150px !important;
    overflow-y: scroll;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
 