@use  "colorScheme" as colors;

$outline: 0.4vh solid; 

.cluster0 {
    filter: drop-shadow(0px 0px 5px colors.$cluster0);
    -webkit-filter: drop-shadow(0px 0px 5px colors.$cluster0);

}
.cluster1 {
    
    filter: drop-shadow(0px 0px 5px colors.$cluster1);
    -webkit-filter: drop-shadow(0px 0px 5px colors.$cluster1);

}

.cluster2 {
    filter: drop-shadow(0px 0px 5px colors.$cluster2);
    -webkit-filter: drop-shadow(0px 0px 5px colors.$cluster2);

}

.cluster3 {
   filter: drop-shadow(0px 0px 5px colors.$cluster3);
   -webkit-filter: drop-shadow(0px 0px 5px colors.$cluster3);
}

.cluster4 {
    filter: drop-shadow(0px 0px 5px colors.$cluster4);
    -webkit-filter: drop-shadow(0px 0px 5px colors.$cluster4);
}

.cluster5 {
    filter: drop-shadow(0px 0px 5px colors.$cluster5);
    -webkit-filter: drop-shadow(0px 0px 5px colors.$cluster5);
}

.cluster6 {
   filter: drop-shadow(0px 0px 6.5px colors.$cluster6);
   -webkit-filter: drop-shadow(0px 0px 6.5px colors.$cluster6);
}

.cluster7 {
    filter: drop-shadow(0px 0px 5px colors.$cluster7);
    -webkit-filter: drop-shadow(0px 0px 5px colors.$cluster7);
}

.cluster8 {
    filter: drop-shadow(0px 0px 5px colors.$cluster8);
    -webkit-filter: drop-shadow(0px 0px 5px colors.$cluster8);
}

.cluster9 {
    filter: drop-shadow(0px 0px 5px colors.$cluster9);
    -webkit-filter: drop-shadow(0px 0px 5px colors.$cluster9);
}

.cluster10 {
    filter: drop-shadow(0px 0px 5px colors.$cluster10);
    -webkit-filter: drop-shadow(0px 0px 5px colors.$cluster10);
}

.cluster11 {
    filter: drop-shadow(0px 0px 5px colors.$cluster11);
    -webkit-filter: drop-shadow(0px 0px 5px colors.$cluster11);
}

.cluster12 {
    filter: drop-shadow(0px 0px 5px colors.$cluster12);
    -webkit-filter: drop-shadow(0px 0px 5px colors.$cluster12);
}

.cluster13 {

    filter: drop-shadow(0px 0px 5px colors.$cluster13);
    -webkit-filter: drop-shadow(0px 0px 5px colors.$cluster13);
}

.cluster14 {
    filter: drop-shadow(0px 0px 5px colors.$cluster14);
    -webkit-filter: drop-shadow(0px 0px 5px colors.$cluster14);
}