@use "colorScheme"as colors;

#cropTitle {

    color: colors.$thirdColor;
    padding-left: 0.8rem;
    font-size: 1.8rem;
}

#cropHeader {
    background-color: colors.$modalHeader;
}

#cropBody {
    width: fit-content;
    background-color: colors.$secondaryColor;
}

#cropModal {
    .modal-content {
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 0;
        left: 0;
        z-index: 10040;
        overflow: auto;
        overflow-y: auto;
    }
}