@use "colorScheme" as colors;

.highlight {
    opacity: 1;
    outline: 0.5vh solid colors.$markColor;
  }
  
  .highlight_neighbour {
    opacity: 1;
    outline: 0.5vh solid colors.$neighbourColor;
  }
  
  .hide_on {
    opacity: 0.1;
  }
  
  .hide_off {
    opacity: 1;
  }
  
  .highlight_uploaded {
    opacity: 1;
    outline: 0.5vh solid colors.$uploadedColor;
  }
  

  .hidden{
    overflow: hidden;
  }