@use "colorScheme"as colors;


.modal-content {
    width: fit-content !important;
}

#settingsTitle {
    color: colors.$thirdColor;
    padding-left: 0.8rem;
    font-size: 1.8rem;
}

#settingsHeader {
    background-color: colors.$primaryColor;
}

#settingsBody {
    background-color: colors.$secondaryColor;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: baseline;
    height: 100%;
    
    #neighbourDiv{
        display: inline-block;
        margin-left: 35px;
    }
    #clusterDiv{
        display: inline-block;
        margin-left: 35px;
    }

    p{
        margin-top: 0.5rem;
        margin-right: 2vw;
    }
    button{
        margin-top: 1rem ;
        margin-left: 35px;
        margin-bottom: 1rem;
    }
}

#settingAlert {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 0;
    padding-left: 0;

    p {
        font-family: inherit;
        text-align: center;
        font-size: 1.1rem;
        display: table-cell;
        vertical-align: middle;
        color: colors.$alertColor;
        padding-right: 0.5rem;
        margin-right: 5px;
    }
}